main .hero-orange,
main .hero-orange>div {
	width: 100%;
	position: relative;
}

main .hero-orange div div:nth-child(1) {
	padding: 65px 0 58px calc(100% / 12);
	overflow: initial;
	width: calc(100% / 3);
}

main .hero-orange div:nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	overflow: hidden;
}

@media screen and (max-width: 1024px) {

	main .hero-orange>div {
		padding: 50px 0 47px;
		display: flex;
		flex-direction: column;
		height: fit-content;
	}

	main .hero-orange div div:nth-child(1) {
		padding: 0 0 0 calc(100% / 12);
		width: 100%;

	}

	main .hero-orange div:nth-child(2) {
		padding: 0 0 0 0;
		width: 100%;
		display: block;
		position: initial;
		z-index: initial;
		top: initial;
		left: initial;
	}

	main .hero-orange div div picture {
		width: 100%;
		height: 100%;
	}
}